<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!--<string name="project"></string>-->
    <!--<string name="clientId"></string>-->
    <!--<string name="clientSecret"></string>-->
</resources>